@import url('https://fonts.cdnfonts.com/css/recoleta');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(35%, 62.5%, 70.5%);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

.body {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1.5rem, 3vw, 1.6rem)
}

/* Typography */
h1,
h2,
h3,
h4,
h6,
.link {
  font-family: 'Recoleta', sans-serif;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: bolder;
}

.heading-tertiary {
  text-transform: capitalize;
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  font-weight: bolder;
}

.heading-senery {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  font-weight: lighter;
}

.title--small {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
}

p {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
}

li {
  font-size: 1.4rem;
  margin: 1rem auto;
}

.section-title {
  font-size: clamp(2rem, 3vw, 3rem);
  text-transform: uppercase;
}

.news-title {
  font-size: clamp(1.3rem, 3vw, 3rem);
}

.news-title--medium{
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.news-title-small {
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
}

.text-center {
  text-align: center;
}



/* Generic Style */
/* Tag Styles */

a {
  text-decoration: none;
  color: inherit;

  transition: .4s linear;
}

.link:active,
.link:hover {
  border-bottom: 1px solid #333333;
}

ul {
  list-style: none;
}

.fill {
  height: 100%;
  object-fit: cover;
}

/* End */


/* Utilities */


/* Layout */
.flex,
.flex-static {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width:64em) {
  .container {
    width: 80%;
    margin: auto;
  }
}

.flex-static {
  flex-wrap: nowrap;
}

.align-center {
  align-self: center;
}

.hero {
  height: 50vh;
}


.featured_tile-title {
  text-align: right;
  place-self: end center;
  flex: 1 100%;
  padding: 1rem;
}

.tile {
  margin: 2rem 0;
  border-bottom: 1.5px solid #050505;
}

.container {
  padding: 1.6rem;
}





.article {
  margin: 4rem auto;
  width: 100%;
  overflow: hidden;
}

.editorial {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

section {
  padding: 1.6rem;
}

section .flex {
  align-items: center;
}

/* End */

/* Component */

footer .flex {
  align-items: stretch;
  justify-content: space-between;
}

.form {
  --input-bg: #FFF;
  /*  background of input */
  --padding: 1.2em;
  --rotate: 80deg;
  /*  rotation degree of input*/
  --gap: 2em;
  /*  gap of items in input */
  --height: 4.0rem;
  /*  height */
  width: 200px;
  padding-inline-end: 1em;
  /*  change this for padding in the end of input */
  /* background: var(--input-bg); */
  position: relative;
  border-radius: 4px;
}

.form label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}

.form input {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  border: 0;
  padding: 1rem 3rem;
  border-bottom: .1rem solid #333;
  /* background: none; */
}

/* style for both icons -- search,close */
.form svg {
  color: #615f5f;
  transition: 0.3s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  height: 1.5rem;
}

/* search icon */
.icon {
  position: absolute;
  left: var(--padding);
  top: 50%;
  transition: 0.3s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Image */

.thumbnail--large {
  aspect-ratio: 1/0.7;
  width: 100%;
  background: rgb(22, 22, 22);
}

.figure-landscape,
figure {
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
  background: gray;
}

.thumbnail {
  aspect-ratio: 2/1.5;
   flex: 0 20%;
 }

@media (min-width:64em) {

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}


/* Nav */
.nav-link {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  text-transform: capitalize;
  color: #666666;

  transition: .4s linear;
}
.active{
  color: #050505;
  text-decoration: underline;
  text-underline-offset: .5rem;
}