.switch {
    font-size: 1.7rem;
    position: relative;
    display: inline-block;
    width: 6.4rem;
    height: 3.4rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* .switch{

  } */
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 3rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    border-radius: 20px;
    left: .2rem;
    bottom: .2rem;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: .6rem;
    left: 3.6rem;
    z-index: 1;
    width: 2.4rem;
    height: 2.4rem;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 1;
    width: 2.4rem;
    height: 2.4rem;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 .1rem #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(3rem);
  }